{% extends 'base.html.twig' %}

{% block title %}API Tester{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        {{ form_start(form) }}
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                {{ form_row(form.URL) }}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 ">
                <button class="btn btn-primary">call it!</button>
            </div>
        </div>
        {{ form_end(form) }}
        {% if articles is not empty %}
        <div class="row mb-5">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for article in articles %}
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                            <p class="post-subtitle">
                                {{ article.content | u.truncate(100,'...')  | nl2br }}
                            </p>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">Someone Else</a>
                            on {{ article.formatedPublishedAt }}</p>
                    </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                <div class="navigation d-flex justify-content-end">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
            {% endif %}
        </div>


    </div>
{% endblock %}
